
/*Estilos propios, no correspondientes al Template Base de StartBoostrap */
.bienvenido{
  color: white;
}
nav{
  background-color: cyan;
}
li {
  list-style: none;
  width: 100%;
  display: block;
}
li:hover{
  background-color: #e8dfdf;
}
a {
  display: block;
  text-decoration: none;
  color: black;
}
a:active{
  color: white;
}

a:hover{
  color: white;
}

.hero {
  display: flex;
  background-image: url("hero-bg.jpg");
  background-size: cover; 
  background-position: center center; 
  width: 100%; 
  text-align: center;
  background-color: aquamarine;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

#cerrar-sesion{
  display: flex;
  justify-content: flex-end;
}
.sidebar {
  display:flex;
  height: 70vh;
  background-color: cyan;
  padding-top: 40px;
  justify-content: center;
}

.contenedor-principal{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem;
}

.nombre-usuario {
  color: white;
}

#titulo_principal{
  color: #00FFFF;
}


#login-usuario {
  color: white;
}

footer {
  color: black;
  background-color: grey;
  height: 10vh;
}

.card {
  display: flex;
  width: 60%;
  height: auto;
  text-align: center;
}

.card img{
  width: 500px;
  height: auto;
  margin: 0 auto;
}

input {
  margin: .5rem;

}
