{% extends 'base.html' %}


{% block contenido_variable %}

<div class="container d-flex justify-content-center">

    <div class="card" id="card-about">
        <img class="rounded my-2 img-fluid" src="/static/css/imagen_about.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sobre mí</h5>
          <p class="card-text"> Mi nombre es Camilo Samson, estudiante de segundo año de Ingeniería en Informática, y me encuentro cursando el curso de Python en CoderHouse Academy. Actualmente Trabajo como abogado, sin embargo, quiero seguir mi vocación y desempeñarme en el campo de las TI.

            Esta aplicación es mi proyecto final para el curso de Python en CoderHouse, y consiste en una app de control de finanzas personales.  .</p>
        </div>
      </div> 
    
</div>


{% endblock contenido_variable %}