{% extends 'base.html' %}

{% block contenido_variable %}

   
       <fieldset>
            <form action="buscar/" method="GET"> 
                <div></div>
                <legend> Ingresa el nombre de un item para buscar </legend>

                <input type="text" name="item" id="item">
                    
                <div>
                        <input class="btn btn-primary" type="submit" value="Buscar">
                </div>
            </form>
       </fieldset>
    

    




{% endblock contenido_variable %}