{% extends 'base.html' %}

{% block contenido_variable %}

    <div class="header"> <h4 class="titulos_formularios">Buscar Elementos</h4> </div>
    <p class="titulos_formularios">
        Ingresa el nombre del elemento que quieres buscar: </b>
    </p>

    <div class="contenido">

    <form action="buscar/" method="GET"> 
    
        <input type="text" name="item" id="item">
        <div>
            <input class="boton_input" type="submit" value="Buscar">
        </div>
       

    </form>

    </div>

    




{% endblock contenido_variable %}