{% extends 'base.html' %}

{% block contenido_variable %}

<div class="caja">

    <div class="header">
        <h4 class="titulos_formularios">
            Registrar Categorías
        </h4>
    </div>
    <p class="titulos_formularios" >Ingresa los datos solicitados para crear una nueva categoría: </p>

    <div class="contenido">
        <form action="" method="POST"> {% csrf_token %} 
       
            <table>
                {{ miFormulario.as_table }}
            </table>
            <br>
            <div class="footer"
            ><input class="boton_input" type="submit" value="Guardar">
            </div>

        </form>
    </div>
    

</div>


{% endblock contenido_variable %}