{% extends 'base.html' %}

{% block contenido_variable %}

<div class="header">
    <h4 class="titulos_formularios">Registro de Gastos</h4>
</div>
</br>
<div class="contenido">

<form action="" method="POST"> {% csrf_token %} 
       
        <table>
            {{ miFormulario.as_table}}
        </table>
        <br>
        <div class="footer">
            <input class="boton_input" type="submit" value="Guardar">
            <a href="{% url 'ListaGastos' %}">
                <button type="button" class="boton_input"> Lista de Gastos </button>
            </a>
        </div>
        
        

    </form>

</div>
    



{% endblock contenido_variable %}