{% extends 'base.html' %}

{% block contenido_variable %}




            <form  method="post">
            
            
                 {% csrf_token %} 

                <div class="mb-3">
                    <label class="form-label" for="{{miFormulario.nombre.id_for_label}}">{{miFormulario.nombre.label_tag}}</label>
                    <input type="text" class="form-control" name="{{ miFormulario.nombre.name }}" value="{{ miFormulario.nombre.value}}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="{{ miFormulario.descripcion.id_for_label }}">{{ miFormulario.descripcion.label_tag }}</label>
                    <input type="text" class="form-control" name="{{ miFormulario.descripcion.name }}" value="{{ miFormulario.descripcion.value}}">

                </div>
             
                
                 <input class="btn btn-primary" type="submit" value="Guardar">

            </form>

{% endblock contenido_variable %}