{% extends 'base.html' %}

{% block contenido_variable %}

   <div class="container-md">

        <table class="table table-primary">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Categoría</th>
                    <th>Fecha Gasto</th>   
                </tr>
            </thead>
            <tbody>
                {% for gasto in gastos %} 
                <tr class="table-light">
                    <td>{{gasto.nombre}}</td>
                    <td>{{gasto.monto}}</td>
                    <td>{{gasto.categoria}}</td>
                    <td>{{gasto.fecha}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
               
        <a class="btn btn-secondary" href="{% url 'FormularioItems'%}">Registrar Gasto</a>       
            
    </div>


{% endblock contenido_variable %}