{% extends 'base.html' %}

{% block contenido_variable %}

    <div class="contenido">
    <div class="header">
        <h4 class="titulos_formularios">Categorías de Gastos</h4>
    </div>

     <ul class="lista_resultados">
        {% for categoria in lista_categorias %} 
            <li class="objetos_lista_resultados" ><span class="item_destacado">{{categoria.nombre}}</span>: <p style="font-style: italic;">{{categoria.descripcion}}</p></li>
        {% endfor %}
    </ul>   </div>

    <div class="footer">

       
    <a class="boton_input" href="{% url 'FormularioCategorias'%}">Nueva Categoría</a>
    </div>


{% endblock contenido_variable %}