<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'Home' %}">Inicio</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'EditarPerfil'%}">Editar Perfil</a></li>
          {% endif %}  
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav-ms-auto mb-2 mb-lg-0">
          <li>
          <p class="text-muted small mb-4 mb-lg-0"> Hola, {{user.username}}!!</p></li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'About' %}">About</a></li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'enviar_correo'%}">Contacto</a></li>      
          </ul> {% endcomment %}
        </ul>
        </div>
      </div>  
    </nav>

        
        
        
       
    

