<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
       
    
        <div class="navbar-brand">{% if user.is_authenticated %}
    
            <p>Bienvenido <em>{{ user.username}}</em> </p>

            {% else %}
            
            <button><a href="{% url 'Login'%}">Iniciar Sesión</a></button>

            {% endif %}
        </div>
        <br>
        <a class="navbar-brand" href="{% url 'Inicio' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">


                <li class="nav-item dropdown"> <!-- Agregamos la clase "dropdown" al elemento li -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gastos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <!-- Agregamos un div con la clase "dropdown-menu" para el contenido del menú desplegable -->
                        <a class="dropdown-item" href="{% url 'FormularioItems'%}">Ingresar nuevo gasto</a> <!-- Agrega las opciones del menú desplegable aquí -->
                        <a class="dropdown-item" href="{% url 'ListaGastos' %}">Lista de gastos </a>
                        <a class="dropdown-item" href="{% url 'BusquedaItems' %}">Buscar gasto</a>
                        
                    </div>
                </li>    


                <li class="nav-item dropdown"> <!-- Agregamos la clase "dropdown" al elemento li -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <!-- Agregamos un div con la clase "dropdown-menu" para el contenido del menú desplegable -->
                        <a class="dropdown-item" href="{% url 'FormularioCategorias' %}">Registrar categoría</a>
                        <a class="dropdown-item" href="{% url 'Categorias'%}">Lista de categorías</a> <!-- Agrega las opciones del menú desplegable aquí -->
                        
                    </div>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'FormularioMetas'%}">Metas de Ahorro</a></li>

            </ul>
        </div>
    </div>


    <!-- Login -->

</nav>