{% extends 'base.html' %}

{% block contenido_variable %}

    <div class="header"> <h4 class="titulos_formularios">Registrar de Nuevo Usuario</h4> </div>
    <p class="titulos_formularios">
        Ingresa los Datos Solicitados a Continuación</b>
    </p>

    <div class="contenido">

    <form action="" method="POST"> 
    
        {% csrf_token %}

        {{form.as_p}}
        
        <button type="submit">Registrar Nuevo Usuario</button>

    </form>

    </div>

{% endblock contenido_variable %}