{% extends 'base.html' %}

{% block contenido_variable %}

<div class="container">

    <div class="row">
        <u><h4 class="titulos_formularios">Resultado de tu búsqueda</h4></u>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Estás buscando el item : <b><em>{{item_nombre}}</em></b></p>
        </div>
        {% for resultado in resultados %}
        <ul class="container col-8">   
            <div class="row">
                <li class="col-4"> 
                    <span> <u>Valor:</u> <span class="item_destacado"> {{ resultado.monto }}</span></span>
                </li>
                <li class="col-4"> 
                    <span> <u>Categoría: </u> <span class="item_destacado"> {{ resultado.categoria }}</span></span>
                </li>
                <li class="col-4"> 
                    <span> <u>Fecha:</u> <span class="item_destacado"> {{ resultado.fecha }}</span></span>
                </li>   
            </div> 
        </ul>
                
    {% endfor %}
    </div>

       

            <div >
                <a class="btn btn-primary" href="{% url 'BusquedaItems'%}">Buscar Otro</a>
            </div>
          

    
{% endblock contenido_variable %}