{% extends 'base.html' %}


{% block contenido_variable %}

<div class="container d-flex justify-content-center">

    <form class="table align-self-center" action="{% url 'AgregarAvatar'%}" method="POST" enctype="multipart/form-data">
        <legend> Cargar Avatar </legend>
        {% csrf_token %}
        <table class="table table-light">
            {{miFormulario.as_table}}
        </table>
        <button  class="btn btn-primary" type="submit"> Actualizar </button>
    </form>
</div>


{% endblock contenido_variable %}